@use '../../index.scss';

.crypto-news-box{
    flex: 1 1 30%;
    max-width:390px;
    height:220px;
    background-color:#ffffff;
    padding: 20px;
    text-decoration: none;
    transition: ease all 0.3s;
    color: index.$dark-grey-1;

    &:hover{
        transform: scale(1.1)
    }

    @media only screen and (max-width:1440px) and (min-width:960px){
            flex: 1  1 40%;
            max-width: 550px;
    }
    

    .upper-box{
        display: flex;
        justify-content:space-between;
        font-size: 0.8rem;
        line-height:1.5;  

        
        h3{
            width: 220px;
        }
    }

    .lower-box{

        margin-top:10px;
        font-size: 0.7rem;

        

        .news-details{
            margin-top:10px;
            display: flex;
            justify-content:space-between;
            padding: 0 10px;
            color: index.$dark-grey-1;
            line-height:2;


            p{
                color: index.$dark-grey-1;
            }
        }
    }
}