@use '../../index.scss';

.crypto-box{
    width:290px;
    height: 220px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-transform: upperCase;
    color: index.$dark-grey-2;
    

    

    .upper-box{
        display:flex;
        justify-content:space-between;
        border-bottom: 1px solid index.$light-grey;
        padding: 20px;
        font-weight: bold;
        align-items:center;

        img{
            width: 30px;
        }
    }
    
    .lower-box{
        padding: 20px;
        line-height: 2.5;
        font-size: .85rem;

        span{
            font-weight: bold;
        }
    }
}