@use '../../index.scss';

.crypto-news{
    padding: 0 25px;


    .select-crypto{
        margin-top:30px;
        width: 250px;
        height:30px;
        text-transform: capitalize;
        outline: none;
        border: none;
        color: index.$dark-grey-1;
        

        &:focus{
            border: 2px solid index.$logo-color;
        }

        .default-select{
            font-weight: bold;
            color: index.$navbar-color;
        }

        
    }

    .crypto-news-container{
        margin: 30px auto;
        display: flex;
        justify-content:flex-start;
        flex-wrap: wrap;
        gap: 20px; 
    }
}